language: node_js 
env:
    global:
        secure: "CFRKNW9BT6J2GnWybkurP3P4L3v4xYWu7uanv1RE/KHcqlxlhpDChYrOZo7DE8TgVt0YKOQsUCHOBWnetvlfqg2u59xnp6tRsufRVHz0ksRUI2KuZyoJ6iAlwFQKml0dnNw0xfGzzeUBxh4I+UFq827gfgdgMCPczE4nIlm1npk="
        
cache: 
  - apt
  - npm
    
matrix:
  fast_finish: true
  
# whitelist
branches:
  only:
    - with-screenshots
    
#before_install:
#  - chmod u+x ./travis.sh

install:
  #  - npm -g install
  #  - npm link
  #  - bower install --save
  #  - cp -rf bower*/.git /tmp
  #  - cp -rf bower* app/

#script:
#  - bash -x ./travis.sh
script:
  #  - echo -e "\<h1\> TRAVIS_BUILD_NUMBER : $TRAVIS_BUILD_NUMBER \</h1\>" >> index.html
    #- sudo apt-get install -y -q tree 
    #- tree
    - ls -l
    - ls -l app
  
after_success:
#  -  bash -e ./BANK/travis_and_github/update-gh-pages.sh
    - export repo1='github_integrations'
    - export dir_base=$( echo $PWD; )
    - export dir_product=$dir_base
    - export dir_self=$dir_base/$repo1
    - git clone --depth=1 https://github.com/brownman/${repo1}.git $repo1
    - chmod +x $dir_self/travis.sh
    - bash -c $dir_self/travis.sh #delegate control to repo: github_integrations
